#category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  width: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.category-img {
  width: 50%;
  display: block;
  justify-content: right;
}

.category-info {
  width: 30%;
  display: block;
  margin-top: 2rem;
}
.category-info-2 {
  width: 20%;
  margin-top: 2rem;
  order: 0;
}

.category img {
  width: 24%;
  margin: 2rem;
}

.category h3 {
  margin: 30;
  font-size: 1.2rem;
}

.category p {
  margin: 30;
  font-size: 0.9rem;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

button a {
  color: #fff;
  text-decoration: none;
}

/* Add a media query to make the category container responsive on phone sizes */
@media (max-width: 768px) {
  .category {
    flex-direction: column;
    align-items: center;
  }

  .category img {
    margin: 1rem;
  }

  .category-info {
    width: 80%;
    margin-top: 0;
  }

  .category-info-2 {
    width: 80%;
    display: block;
  }

  .category img {
    width: 80%;
  }
}
